version: '3.3'

networks:
    network_app:

services:
  app_gochain:
    image: app/app_gochain
    container_name: app_gochain
    build:
     context: .
     dockerfile: Dockerfile
    environment:
        IP: 0.0.0.0
        PORT: 8000
        POSTGRES_URL: db
        POSTGRES_PASSWORD: db_password
    ports:
        - '8000:8000'
    networks:
        - network_app
    links: 
        - db
    depends_on: 
        - "db"

  db:
    image: postgres
    container_name: app_db
    environment:
        POSTGRES_DB: db
        POSTGRES_PASSWORD: db_password
    volumes:
      - './mypostgresql/data:/var/lib/postgresql/data'
    
    networks:
        - network_app
    ports:
        - '6666:6666'
    




